<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="serviceCachingSection" type="MemoryCacheManager.Configuration.ServiceCachingSection, MemoryCacheManager"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<serviceCachingSection enableCaching="true">
		<cacheItems>
			<cacheItem key="exampleExpensiveClass" enableCaching="true" absoluteExpirationInSeconds="60"/>
		</cacheItems>
	</serviceCachingSection>
</configuration>
